body, html{
    margin: 0;
    padding: 0;
    height: 200px;
    }
    ul {
      list-style-type: none;
      margin: 50px;
      padding: 20px;
      overflow: hidden;
      background-color: #333;
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    /* Change the link color to #111 (black) on hover */
    li a:hover {
      background-color: rgb(26, 218, 51);
    }
    
    h1{
    
      margin-left: 50px;
      padding-left: 20px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 30px;
      
       }
      p{
      margin-left: 50px;
      padding-left: 20px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 24px;
      }
      img {
      max-width: 50%;
      padding-left: 20%;
      }
      
      h2{
      margin-right: 50px;
      padding: 20px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 24px;
      }
      
      div{
      display: flex;
      flex-direction: row-reverse;
      }
      
      
      header{
      padding: 50px;
      margin: 20px;
      background-color: rgb(141, 89, 12);
      font-family: Arial, Helvetica, sans-serif;
      font-size: 24px;
      }
      
      footer {
        padding: 50px;
        margin: 20px;
        background-color: rgba(156, 121, 26, 0.781);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 24px;
        } 
    
    